/* 
.common__layout__container {
  position: relative;
  min-height: 100vh;
  width: 100%;
} */
/* 
.body {
 
 height: 100vh;
 
  
} */

/* body::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/src//assets//wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  height: 30vh;
  z-index: -1;
} */


@media (width < 1024px){
  .common__layout__container::after {
    display: none;
  }
}

.questions__container{
  position: relative;
  /* overflow: hidden; */
}
.questions__container::after {
 content: '';
 background-color: rgba(255, 254, 254, 0.753);
 position: absolute;
 inset: 0;
 width: 100%;
 height: 100%;
 
}


.question {
  animation: next-questions-arrive  0.3s linear;
}




 
@keyframes questions-arrive {
  from{
   opacity: 0;
 
  }
  to{
   opacity: 100;
  }
}



@keyframes next-questions-arrive {
   from{
    opacity: 0;
    transform: translateX(100px);
   }
   to{
    opacity: 100;
    transform: translateX(0px);
   }
}



@keyframes prev-questions-arrive {
  from{
   opacity: 0;
   transform: translateX(-100px);
  }
  to{
   opacity: 100;
   transform: translateX(0px);
  }
}


.animate-arrive-r-l {
animation: animate-arrive-r-l  0.4s linear;
}






@keyframes animate-arrive-r-l {
  from{
   opacity: 0;
   transform: translateX(100px);
  }
  to{
   opacity: 100;
   transform: translateX(0px);
  }
}




.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset var(--color-primary);
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}